In Python, there are different data types: string, integer, and float. These data types can all be contained in a tuple.

Now, let us create your first tuple with string, integer and float.

In [1]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
print(tuple1)
type(tuple1)

('disco', 10, 1.2)

tuple

# Indexing

Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

In [2]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

We can print out the type of each value in the tuple:

In [3]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

We can also use negative indexing. We use the same table above with corresponding negative values:

We can obtain the last element as follows (this time we will not use the print statement to display the values):

In [4]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [5]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [6]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

# Concatenate Tuples

We can concatenate or combine tuples by using the + sign:

In [7]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

We can slice tuples obtaining multiple values as demonstrated by the figure below:

We can slice tuples, obtaining new tuples with the corresponding elements:

In [8]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [9]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [10]:
# Get the length of tuple

len(tuple2)

5

# Sorting

In [11]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [12]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

# Nested Tuples

A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [13]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

Each element in the tuple, including other tuples, can be obtained via an index as shown in the figure:

In [14]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

We can use the second index to access other tuples as demonstrated in the figure:

In [15]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

We can access strings in the second nested tuples using a third index:

In [16]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [17]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [18]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [19]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

# Quiz on Tuples

In [20]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [21]:
# Find the length of the tuple, genres_tuple:
# Write your code below and press Shift+Enter to execute

len(genres_tuple)

8

In [22]:
# Access the element, with respect to index 3:

print(genres_tuple[3])

hard rock

In [23]:
# Use slicing to obtain indexes 3, 4 and 5:

print(genres_tuple[3:6])

('hard rock', 'soft rock', 'R&B')

In [24]:
# Find the first two elements of the tuple

print(genres_tuple[0:2])

('pop', 'rock')

In [27]:
# Find the first index of "disco":
genres_tuple.index("disco")

7

In [28]:
# Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple = (-5,1,-3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]