# Set

A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets {}. Python will automatically remove duplicate items:

In [1]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

You can also create a set from a list as follows:

In [2]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

Now let us create a set of genres:

In [3]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

Let us go over set operations, as these can be used to change the set. Consider the set A:

In [4]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [5]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [6]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

We can remove an item from a set using the remove method:

In [7]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

We can verify if an element is in the set using the in command:

In [8]:
# Verify if the element is in the set

"AC/DC" in A

True

# Sets Logic Operations

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

In [9]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [10]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

You can find the intersect of two sets as follow using &:

In [11]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

You can find all the elements that are only contained in album_set1 using the difference method:

In [12]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)  

# You only need to consider elements in album_set1; all the elements in album_set2, including the intersection, are not included.

{'Thriller'}

The elements in album_set2 but not in album_set1 is given by:

In [13]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

You can also find the intersection of album_list1 and album_list2, using the intersection method:

In [14]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

The union corresponds to all the elements in both sets, which is represented by coloring both circles:

In [15]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [16]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [17]:
# Check if subset

set(album_set2).issubset(album_set1)

False

Here is an example where issubset() and issuperset() return true:

In [18]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [19]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

### QUIZ

In [1]:
# Convert the list ['rap','house','electronic music', 'rap'] to a set:

list = ['rap','house', 'electronic music', 'rap']

set = set(list)
print(set)

{'house', 'rap', 'electronic music'}

In [1]:
# Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?

A = [1,2,2,1]

B = set([1,2,2,1])

print(sum(A))
print(sum(B))

6
3

In [2]:
# Create a new set album_set3 that is the union of album_set1 and album_set2:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [3]:
# Find out if album_set1 is a subset of album_set3:

album_set1.issubset(album_set3)

True

In [4]:
A = [1,2,3]
B = A[:]
B

[1, 2, 3]